////////////////////////////
//  Alert styles classes  //
////////////////////////////

.cta-button-container {
  @extend .container, .text-center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.cta-button-container__button {
  @extend .btn, .btn-primary, .featured-text-sm;
  text-decoration: none !important;
  text-transform: uppercase;
}

.cta-button-container__button.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.cta-button-small {
  @extend .btn, .btn-secondary;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.06em;
  padding: $spacer-xs $spacer-md;
  color: $sm-light;
  border-radius: $spacer-sm;
  border: none;

  &:hover {
    background-color: $sm-purple;
    border: none;
  }
}