///////////////////////////////
//  Global contents classes  //
///////////////////////////////

.cfr-text-formatted-base {
    p,
    li {
        @extend .body-text;
        max-width: 50em;
        margin: 10px auto;
    }
}

.cfr-text-formatted {
    @extend .cfr-text-formatted-base, .cfr-text-formatted-images;

    h2, h3, h4, h5, h6 {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    h2 {
        @extend .title-md;
        color: $dm-orange;
    }

    h3 {
        @extend .title-sm;
        color: $dm-orange;
    }
    
    h4, h5, h6 {
        @extend .featured-text-sm;
        color: $dm-night;
    }

    p {
        line-height: 1.6em;
        letter-spacing: 0.04em;
    }

    a {
        text-decoration: underline;
    }

    table {
        @extend .table;
    }

    blockquote {
        margin-left: 3em;
        padding-left: 1em;
        border-left: 10px solid $dm-night;
    }

    li {
        padding-left: 0.5em;
    }

    .featured {
        line-height: 1.4;
        margin-bottom: 2em;
    }

    .featured--lg {
        @extend .featured-text-lg;
    }

    .featured--md {
        @extend .featured-text-md;
    }

    .featured--sm {
        @extend .featured-text-sm;
    }

    .signature {
        @extend .tag-text;
        margin-top: 3em;
        margin-bottom: 6em;
        text-align: right;
        font-style: italic;
    }
}