///////////////////////////////////
//  Content Image layout styles  //
///////////////////////////////////

.image-footer {
  margin-top: $spacer-sm;
  p {
    text-align: center;
    font-size: $text-size-01 !important;
    padding: 0 $spacer-sm;
  }
}

.cfr-text-formatted-images {
  figure {
    margin: 20px;

    img {
    @extend .rounded;
    width: 400px;
    }
  }

  figure.centered {
    text-align: center;
    
    img {
    width: 500px;
    }
  }

  figure.right {
    float: right;
    margin-top: 0;
    margin-right: 0;
  }

  figure.left {
    float: left;
    margin-top: 0;
    margin-left: 0;
  }

  p img {
    @extend .img-fluid;
  }
}

@include media-breakpoint-down(sm) {
  .cfr-text-formatted-images {
      figure.right,
      figure.left,
      figure.centered {
      float: none;
      margin: 20px;
      text-align: center;
  
      img {
          width: 100%;
      }
      }
  }
}
