<!-- Javascript global dependencies -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- Slick -->
<script src="/assets/vendor/slick/slick.min.js"></script>

<!-- Featherlight -->
<script src="/assets/vendor/featherlight/featherlight.min.js"></script>

<!-- Custom Javascript -->
<script src="/js/header-shrink.js?v={{ site.version }}"></script>
<script src="/js/menu-slide.js?v={{ site.version }}"></script>
<script src="/js/counter.js?v={{ site.version }}"></script>
<script src="/js/carousel.js?v={{ site.version }}"></script>