<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/assets/font-families.css">
<link rel="stylesheet" href="/assets/main.css?v=1.3.5">

<!-- :: Favicon conf :: -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">

<!-- :: Open graph settings :: -->
{%- if page.banner_src -%}
<meta property="og:image" content="{{ page.banner_src }}">
{%- else -%}
<meta property="og:image" content="/images/logos/og_preview.png">
{%- endif -%}
<meta property="og:title" content="{{ page.title }}">
{%- if page.description -%}
<meta property="og:description" content="{{ page.description }}">
{%- else -%}
<meta property="og:description" content="{{ site.description[page.lang] }}">
{%- endif -%}