/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Science Madness Colors
$sm-tint: #331a2f;
$sm-purple: #5c5aa5;
$sm-yellow: #e5cc4b;
$sm-red: #d8365f;
$sm-blue: #6fa6bb;
$sm-gray: #857e85;
$sm-green: #e2eddd;
$sm-dark: #1c181b;
$sm-light: #f4f9f2;


// Generic Confuror colors
$cf-blue-ligth: #4283e9;
$cf-blue: #3071d7;
$cf-blue-shadow: #3171d2;
$cf-purple: #6c2f7d;
$cf-purple-shadow: #582368;
$cf-red-light: #fa8686;
$cf-red: #f76f6f;
$cf-green-light: #91f200;
$cf-green: #7dc210;
$cf-yellow: #ffd400;
$cf-yellow-shadow: #ffbc2f;
$cf-gray: #afc5d2;
$cf-light: #f9f8f9;
$cf-dark: #4d4d4d;


// Override bootstrap default colors
$primary:       $sm-tint !default;
$secondary:     $sm-red !default;
$success:       $sm-green !default;
$info:          $sm-blue !default;
$warning:       $cf-yellow !default;
$danger:        $cf-red !default;
$light:         $sm-light !default;
$dark:          $sm-dark !default;