/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Howling Gala theme colors
$hg-paper: #FFFBE9;
$hg-ink: #3A3831;
$hg-paper-shadow: #A8A394;
$hg-golden: #A57D2D;
$hg-blue: #0D2B69;
$hg-blue-shadow: #04103A;

// Override bootstrap default colors
$primary:       $hg-blue !default;
$secondary:     $hg-paper !default;
// $success:       $hg-blue-shadow !default;
$info:          $hg-paper-shadow !default;
// $warning:       $hg-paper-shadow !default;
// $danger:        $hg-golden !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;