/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Howling Gala theme colors
// $hg-paper: #FFFBE9;
// $hg-ink: #3A3831;
// $hg-paper-shadow: #A8A394;
// $hg-golden: #A57D2D;
// $hg-golden-light: #C89F3E;
// $hg-golden-shadow: #764B16;
// $hg-blue: #0D2B69;
// $hg-blue-shadow: #04103A;

// Carnival colors
$mm-red: #E50514;
$mm-red-light: #DC3535;
$mm-red-dark: #720103;
$mm-aqua: #02958E;
$mm-aqua-light: #7EB29C;
$mm-blue: #0D384A;
$mm-blue-light: #7EA5B2;
$mm-purple-light: #971739;
$mm-purple: #3B1F2F;
$mm-purple-dark: #20091C;
$mm-yellow: #ECCF96;
$mm-yellow-light: rgb(255, 246, 233);

// Lucha libre colors
$ll-purple: #332265;
$ll-blue: #212b5A;
$ll-brown: #2A0E06;
$ll-yellow: #E4C14B;
$ll-red: #B72027;
$ll-peach: #E6B77F;
$ll-cream: #E2DEC0;
$ll-black: #000000;

// Generic Confuror colors
$cf-blue-ligth: #4283e9;
$cf-blue: #3071d7;
$cf-blue-shadow: #3171d2;
$cf-purple: #6c2f7d;
$cf-purple-shadow: #582368;
$cf-red-light: #fa8686;
$cf-red: #f76f6f;
$cf-green-light: #91f200;
$cf-green: #7dc210;
$cf-yellow: #ffd400;
$cf-yellow-shadow: #ffbc2f;
$cf-gray: #afc5d2;
$cf-light: #f9f8f9;
$cf-dark: #4d4d4d;


// Override bootstrap default colors
$primary:       $ll-blue !default;
$secondary:     $ll-red !default;
$success:       $cf-green !default;
$info:          $cf-gray !default;
$warning:       $ll-yellow !default;
$danger:        $cf-red !default;
$light:         $ll-cream !default;
$dark:          $ll-brown !default;