/////////////////////////////////////
//  Variables for font face alias  //
/////////////////////////////////////

$font-display: 'Arbutus', cursive;
$font-main: 'Open Sans', Arial, Helvetica, sans-serif;
$font-lecture: 'Open Sans', Arial, Helvetica, sans-serif;
// $font-mono: ;