////////////////////////////////
//  Variables for text sizes  //
////////////////////////////////

$text-size-root: 16px;

$text-size-01: 0.875rem;     // 14px
$text-size-02: 1rem;         // 16px
$text-size-03: 1.125rem;     // 18px
$text-size-04: 1.5rem;    // 24px
$text-size-05: 2.625rem;    // 42px
$text-size-06: 3.375rem;     // 54px
$text-size-07: 4.25rem;      // 68px

$line-height: 1.35;

// NOTE: pixel measures were determined asuming the 16px default base