<div class="featured-videos__wrapper">
  <div class="featured-videos">
    <div class="featured-videos__icon-col">
      <a href="https://www.youtube.com/channel/UCOkZ8FRSFRYyA6dD5OfAP4A" target="_blank" class="featured-videos__icon-link">
        <i class="fa fa-youtube-play"></i>
      </a>
    </div>
    <div class="featured-videos__video">
        <iframe src="https://www.youtube.com/embed/n1m5c2YWOEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="featured-videos__video">
        <iframe src="https://www.youtube.com/embed/-L-rgWqxJqE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="featured-videos__video">
        <iframe src="https://www.youtube.com/embed/MIo2xpVIGBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>