{%- assign footer_data = site.data.footer[page.lang] -%}

<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__index-row">
      {%- include components/full-index.html -%}
    </div>
    <div class="footer__signature-row">
      <div class="footer__contact-column">
        <h6 class="footer__contact-heading">{{ footer_data.contact_us }}</h6>
        <a class="footer__contact-email" href="mailto:{{ site.email }}">
          <i class="fa fa-envelope"></i>
          {{ site.email }}
        </a>
        {%- include components/social-networks.html -%}
      </div>
      <div class="footer__description-column">
        <div class="footer__description">
          <p>{{ site.description[page.lang] }}</p>
        </div>
        <div class="footer__copyright">
          <p>{{ footer_data.copyright }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>