{%- assign footer_data = site.data.footer -%}

<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__column">
      <h4 class="footer__contact-heading">{{ footer_data.strings[page.lang].contact }}</h4>
      <a class="footer__contact-email" href="mailto:{{ site.email }}">
        <i class="fa fa-envelope"></i>
        {{ site.email }}
      </a>
    </div>
    <div class="footer__column">
      <div class="footer__description">
        <p>{{- site.description[page.lang] -}}</p>
      </div>
    </div>
  </div>
</footer>