<div class="full-index__wrapper">
  {%- assign categories = site.data.categories | where: "hidden", false | sort: "weight" -%}
  {%- for category in categories -%}
  <div class="full-index__category">
    <h5 class="full-index__category-title">{{ category.label[page.lang] }}</h5>
    <ul class="full-index__category-list">
      {%- assign category_pages = site.pages | where: "category", category.id | where: "lang", page.lang | sort: "category_weight" -%}
      {%- for category_page in category_pages -%}
      <li class="full-index__category-list-item">
        <a href="{{ category_page.url | relative_url }}" class="full-index__category-list-link">{{ category_page.label }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {% endfor %}
</div>