{%- assign goh_data = site.data.goh -%}

<div class="goh__wrapper">
  <div class="goh">
    <div class="goh__header">
      <h4 class="goh__header-line-1">{{ goh_data.header_line_1[page.lang] }}</h4>
      <p class="goh__header-line-2">{{ goh_data.header_line_2[page.lang] }}</p>
    </div>
    <div class="goh__body">
      <div class="goh__guest"><img src="/assets/images/goh__Majira.png" alt="" class="goh__guest-picture"></div>
      <div class="goh__guest"><img src="/assets/images/goh__FoxAm.png" alt="" class="goh__guest-picture"></div>
    </div>
  </div>
</div>