{%- assign homepage-featurete = site.data.homepage-featurete[page.lang] -%}

<div class="home-featurete__wrapper">
  <div class="home-featurete">
    <div class="home-featurete__image">
      <img src="{{ homepage-featurete.background }}" alt="" loading="lazy">
    </div>
    <div class="home-featurete__mascot">
      <img src="/assets/banners/web_home_yuri.png" alt="" loading="lazy">
    </div>
    <!-- <div class="home-featurete__cta">
      <a href="{{ homepage-featurete.link_url }}">{{ homepage-featurete.link_label }}</a>
    </div> -->
  </div>
</div>