{%- assign homepage-cta-virtual = site.data.homepage-cta-virtual[page.lang] -%}

<div class="home-cta-online__wrapper">
  <div class="home-cta-online">
    <div class="home-cta-online__image">
      <img src="/assets/images/ddm_web_home.png" alt="">
    </div>
    <div class="home-cta-online__mascot">
      <img src="/assets/images/yuri_web_home.png" alt="">
    </div>
    <!-- <div class="home-cta-online__cta">
      <a href="{{ homepage-cta-virtual.link_url }}">{{ homepage-cta-virtual.link_label }}</a>
    </div> -->
  </div>
</div>