{%- assign homepage-ctas = site.data.home-cta[page.lang] -%}
<div class="home-cta__wrapper">
  <div class="home-cta carousel">
    {%- for cta in homepage-ctas -%}
    <div class="home-cta__item carousel__slide">
      <div class="home-cta__inner-wrapper">
        <div class="home-cta__indicator-column">
          <div class="home-cta__picture">
            <img src="{{ cta.image }}" class="home-cta__picture-img">
          </div>
        </div>
        <div class="home-cta__text-column">
          <div class="home-cta__text-block">
            <h3>{{ cta.title }}</h3>
            {{ cta.body }}
            <a href="{{ cta.link_url }}" class="cta-link">{{ cta.link_label }}</a>
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>