{%- assign registration_data = site.data.registration[page.lang] -%}

<div class="registration__intro">
  <p>{{ registration_data.intro }}</p>
</div>

{% if registration_data.early_bird_state %}
{%
  include {{ site.formats.inline_alert }}
  mode="info"
  message=registration_data.early_bird_alert
%}
{% endif %}

<!--
{%
  include {{ site.formats.inline_alert }}
  mode="info"
  message=registration_data.upgrade_alert
%}
-->

<ol class="registration__step-list">
  {%- for step in registration_data.steps -%}
  <li class="registration__step-item">{{ step }}</li>
  {%- endfor -%}
</ol>

<!--
<div class="clock-counter__container">
  <span class="clock-counter__intro">OWO!! *notices counter*</span>
  <span class="clock-counter" data-limit="1579572000000"></span>
  <div class="clock-counter__hide clock-counter__outro">
  </div>
</div>
-->
<!-- 1579572000000 -->
<!-- 1579140000000 -->

{%
  include {{ site.formats.cta_button }}
  text=registration_data.register_now_label
  url=registration_data.form_link
  disabled=false
  targetBlank=true
%}

<hr>

<h4>{{ registration_data.upgrade_subtitle }}</h4>

<ol class="registration__step-list">
  {%- for step in registration_data.upgrade_steps -%}
  <li class="registration__step-item">{{ step }}</li>
  {%- endfor -%}
</ol>

{%
  include {{ site.formats.cta_button }}
  text=registration_data.upgrade_link_label
  url=registration_data.upgrade_link_url
  disabled=false
  targetBlank=true
%}

<hr>

<h4>{{ registration_data.vendor_subtitle }}</h4>

<ol class="registration__step-list">
  {%- for step in registration_data.vendor_steps -%}
  <li class="registration__step-item">{{ step }}</li>
  {%- endfor -%}
</ol>

<div class="container-overflow">
  <div class="row">
    <div class="col-md-6">
      {%
        include {{ site.formats.cta_button }}
        text=registration_data.vendor_registered_link_label
        url=registration_data.vendor_registered_link_url
        disabled=false
        targetBlank=true
      %}
    </div>
    <div class="col-md-6">
      {%
        include {{ site.formats.cta_button }}
        text=registration_data.vendor_unregistered_link_label
        url=registration_data.vendor_unregistered_link_url
        disabled=false
        targetBlank=true
      %}
    </div>
  </div>
</div>