{%- assign support-strip = site.data.support[page.lang] -%}

<div class="support-strip__wrapper">
  <div class="support-strip">
    <div class="support-strip__row">
      <div class="support-strip__icon">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div class="support-strip__body">
        <span>{{ support-strip.body }}</span>
      </div>
      <div class="support-strip__cta">
        <a href="https://ko-fi.com/confuror" target="_blank">
          <img src="/assets/ui/ko-fi_Icon.png" alt="Ko-fi icon" loading="lazy">
          <span>{{ support-strip.cta }}</span>
        </a>
      </div>
    </div>
  </div>
</div>