<div class="header__wrapper">
  <div class="header">
    <div class="header__brand-row">
      <div class="header__brand-logo-col">
        {%- include components/site-logo.html -%}
      </div>
      <div class="header__brand-edition-col">
        {%- include components/edition-info.html -%}
      </div>
    </div>
    <div class="header__navigation-row">
      {%- include layout/navigation.html -%}
    </div>
    <div class="header__menu-slides">
      {%- include components/menu-slides.html -%}
    </div>
  </div>
</div>
