///////////////////
//  Access Fees  //
///////////////////

.access-fees__wrapper {
  @extend .container-fluid, .wrapper-responsive-overflow-margin;
  margin-top: $spacer-lg;
  width: auto;
}

.access-fees {
  @extend .row;
  justify-content: center;
}

.access-fees__fee {
  @extend .col-md-6;
  margin-bottom: $spacer-lg + 100px;
}

.access-fees__fee-header {
  padding: $spacer-xs;
  background-color: $dm-pink;
  border: $spacer-xs dotted $dm-light;
  outline: $spacer-xs solid $dm-pink;
  text-align: center;
}

.access-fees__fee-name {
  @extend .title-md;
  display: block;
  color: $dm-light;
}

.access-fees__fee-stars {
  @extend .featured-text-sm;
  color: $dm-light;
  display: inline-block;
}

.access-fees__fee-body {
  @extend .text-light;
  width: 95%;
  padding: $spacer-sm;
  margin: $spacer-xs auto;
  margin-top: 0;
  background-color: $dm-night;
}

.access-fees__fee-description {
  @extend .tag-text;
  padding: $spacer-sm;
}

.access-fees__fee-includes {
  margin: 0;
}

.access-fees__fee-footer {
  width: 95%;
  margin: auto;
  padding: $spacer-xs;
  background-color: $dm-blue;
  border: $spacer-xxs dotted $dm-light;
  outline: $spacer-xs solid $dm-blue;
  text-align: center;
  position: relative;

  &:before {
    content: "";
    display: solid;
    position: absolute;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: repeat-x;
    left: 0;
    bottom: -100px - $spacer-xs - $spacer-xxs;
    background-image: url("/assets/ui/separador_picado_azul_oscuro.png");
  }
}

.access-fees__fee-from {
  @extend .text-danger;
  text-decoration: line-through;
  display: block;
}

.access-fees__fee-to {
  @extend .featured-text-sm;
  display: block;
  color: $dm-dark;
}

.access-fees__fee-date {
  @extend .tag-text;
  color: $dm-night;
}

// .access-fees__fee--general {
//   .access-fees__fee-body {
//     border-top: 6px $dm-night solid;
//   }
// }

// .access-fees__fee--one-day {}

// .access-fees__fee--sponsor {
//   .access-fees__fee-body {
//     border-top: 6px $dm-yellow solid;
//   }
// }

// .access-fees__fee--super-sponsor {
//   .access-fees__fee-body {
//     border-top: 6px $dm-orange solid;
//   }
// }

// .access-fees__fee--club-pass {
//   .access-fees__fee-body {
//     border-top: 6px $cf-light solid;
//   }
// }