///////////////////
//  Access Fees  //
///////////////////

.access-fees__wrapper {
  @extend .container-fluid, .wrapper-responsive-overflow-margin;
  margin-top: $spacer-lg;
  width: auto;
}

.access-fees {
  @extend .row;
  justify-content: center;
}

.access-fees__fee {
  @extend .col-md-6;
  margin-bottom: $spacer-lg;
}

.access-fees__fee-header {
  border-top-left-radius: $spacer-xs;
  border-top-right-radius: $spacer-xs;
  background-color: $ll-yellow;
  padding: $spacer-xs;
  text-align: center;
}

.access-fees__fee-name {
  @extend .title-md, .text-primary;
  display: block;
  color: $primary;
  // margin-right: $spacer-sm;
}

.access-fees__fee-stars {
  @extend .featured-text-sm, .text-secondary;
  // display: inline-block;
}

.access-fees__fee-body {
  @extend .text-light;
  background-color: $ll-purple;
  padding: $spacer-sm;
  border-bottom-left-radius: $spacer-xs;
  border-bottom-right-radius: $spacer-xs;
  margin-top: $spacer-xs;
  margin-bottom: $spacer-xs;
}

.access-fees__fee-description {
  @extend .tag-text;
  padding: $spacer-sm;
}

.access-fees__fee-includes {
  margin: 0;
}

.access-fees__fee-footer {
  padding: $spacer-sm;
  background-color: $ll-cream;
  border: 4px dashed $ll-brown;
  border-radius: $spacer-lg;
  transform: rotate(-5deg) translateY(-10px);
  text-align: center;
}

.access-fees__fee-from {
  @extend .text-danger;
  text-decoration: line-through;
  display: block;
}

.access-fees__fee-to {
  @extend .featured-text-sm;
  display: block;
  color: $ll-brown;
}

.access-fees__fee-date {
  @extend .tag-text;
  color: $ll-blue;
}

// .access-fees__fee--general {
//   .access-fees__fee-body {
//     border-top: 6px $ll-blue solid;
//   }
// }

// .access-fees__fee--one-day {}

// .access-fees__fee--sponsor {
//   .access-fees__fee-body {
//     border-top: 6px $ll-peach solid;
//   }
// }

// .access-fees__fee--super-sponsor {
//   .access-fees__fee-body {
//     border-top: 6px $ll-red solid;
//   }
// }

// .access-fees__fee--club-pass {
//   .access-fees__fee-body {
//     border-top: 6px $cf-light solid;
//   }
// }