///////////////////////
//  Blog full index  //
///////////////////////

.blog-full-index {
    @extend .container-fluid;
}

.blog-full-index__board {
    @extend .row;
}

.blog-full-index__board-segment {
    padding-bottom: $spacer-md;
}

.blog-full-index__board-segment--large {
    @extend .col-12;
}

.blog-full-index__board-segment--short {
    @extend .col-md-4, .col-sm-6;
}

.blog-full-index__card {
    @include roundBorders($spacer-sm);
    padding: $spacer-md;
    background-color: $secondary;
    color: $primary;
    height: 100%;
    min-height: $spacer-xxl * 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.blog-full-index__card-link {
    text-decoration: none !important;
}

.blog-full-index__card-title {
    @extend .title-sm;
    color: $sm-light;
}

.blog-full-index__card-date {
    @extend .label-text;
    margin-top: $spacer-xs * 2;
}

.blog-full-index__card-body {
    margin-top: $spacer-xs * 2;
    color: $sm-light;
}

.blog-full-index__card-cta {
    @extend .tag-text;
    text-align: right;
    font-style: italic;
}

.blog-full-index__card-cta-pill {
    @include roundBorders($spacer-sm);
    padding: $spacer-xs $spacer-xs * 2;
    background-color: $sm-green;
    color: $sm-tint;
}

.blog-full-index__card--featured {
    padding: $spacer-md;
}
