////////////////////////////////
//  Generic contents classes  //
////////////////////////////////

@include media-breakpoint-down(sm) {
  figure.right,
  figure.left,
  figure.centered {
    float: none;
    margin: 20px;
    text-align: center;

    img {
      width: 100%;
    }
  }
}