////////////////////////////////
//  Generic contents classes  //
////////////////////////////////

.area-map,
.schedule-map {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.area-map__img,
.schedule-map__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}