///////////////
//  Counter  //
///////////////
.clock-counter__container {
  @extend .container;
  padding-top: $spacer-md;
}

.clock-counter {
  @extend .featured-text-lg;
  display: block;
  text-align: center;
  transition: transform 0.6s, max-height 0.4s;
}

.clock-counter__intro {
  @extend .featured-text-sm;
  display: block;
  text-align: center;
  transition: transform 0.6s, max-height 0.4s;
}

.clock-counter__hide {
  transition: transform 0.6s;
  transform: scale(0);
}

.clock-counter__hide.is-shown {
  transform: scale(1);
}

.clock-counter.is-hidden,
.clock-counter__intro.is-hidden {
  transform: scale(0);
  max-height: 0;
}