//////////////////
//  Footer bar  //
//////////////////

.footer {
  @extend .container-fluid, .text-light, .bg-dark;
}

.footer__wrapper {
  @extend .container;
  padding-top: $spacer-lg;
}

.footer__index-row {
  margin-bottom: $spacer-lg;
}

.footer__signature-row {
  @extend .row, .text-dark;
  background-color: $ll-peach;
  padding: $spacer-sm;
  padding-bottom: 0;
  outline: $spacer-sm solid $ll-peach;
  border: 6px dashed $ll-brown;
  border-bottom: 0;
}

.footer__contact-column {
  @extend .col-md-4, .col-sm-6, .col-12;
}

.footer__description-column {
  @extend .col-md-8, .col-sm-6, .col-12;
}

.footer__contact-heading {
  @extend .title-sm;
  margin-bottom: $spacer-xs;
}

.footer__contact-email {
  @extend .tag-text, .text-dark;
}

.footer__description {
  @extend .tag-text;
  text-align: justify;
  line-height: 1.6em;
}

.footer__copyright {
  @extend .tag-text;
  text-align: right;
}

@include media-breakpoint-down(sm) {
  .footer__wrapper {
    padding-top: 40px;
  }
}