//////////////////
//  Footer bar  //
//////////////////

.footer {
  @extend .container-fluid, .text-light, .bg-dark;

  a {
    color: $mm-yellow;
    transition: color 0.2s;
  }

  a:hover {
    color: $mm-yellow-light;
  }
}

.footer__wrapper {
  @extend .row, .mx-auto;
  padding-top: 60px;
  padding-bottom: 30px;
  max-width: 1024px;
}

.footer__column--index {
  @extend .container-fluid;
}

.footer__column--contact {
  @extend .col-md-4, .col-sm-6, .col-12;
}

.footer__column--description {
  @extend .col-md-8, .col-sm-6, .col-12;
}

.footer__contact-heading {
  margin: 0;
  line-height: 40px;
}

.footer__contact-email {}

.footer__description {
  font-size: 10pt;
  text-align: justify;
}

.footer__copyright {
  text-align: right;
}

@include media-breakpoint-down(sm) {
  .footer__wrapper {
    padding-top: 40px;
  }
}