//////////////////
//  Footer bar  //
//////////////////

.footer {
  @extend .container-fluid, .text-light;
  background-image: url("/assets/ui/dia_de_muertos_fondo.jpg");
  background-size: cover;
  background-position: center bottom;
}

.footer__wrapper {
  @extend .container;
  padding-top: $spacer-xxl + 100px;
}

.footer__index-row {
  margin-bottom: $spacer-xxl;
}

.footer__signature-row {
  @extend .row, .text-dark;
  background-color: $dm-yellow;
  padding: $spacer-sm;
  padding-bottom: 0;
  outline: $spacer-sm solid $dm-yellow;
  border: 6px dotted $dm-dark;
  border-bottom: 0;
}

.footer__contact-column {
  @extend .col-md-4, .col-sm-6, .col-12;
}

.footer__description-column {
  @extend .col-md-8, .col-sm-6, .col-12;
}

.footer__contact-heading {
  @extend .title-sm;
  margin-bottom: $spacer-xs;
}

.footer__contact-email {
  @extend .tag-text, .text-dark;
}

.footer__description {
  @extend .tag-text;
  text-align: justify;
  line-height: 1.6em;
}

.footer__copyright {
  @extend .tag-text;
  text-align: right;
}

@media (min-width: 1650px) {
  .footer {
    background-position-y: -750px;
  }
}

@include media-breakpoint-down(sm) {
  .footer__wrapper {
    padding-top: 40px;
  }
}