//////////////////
//  Full index  //
//////////////////

.full-index__wrapper {
  @extend .row;
  text-align: center;
  justify-content: center;
}

.full-index__category {
  @extend .col;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 300px;
}

.full-index__category-title {
  @extend .title-sm;
  color: $ll-peach;
  margin-bottom: $spacer-xs;
}

.full-index__category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-index__category-list-item {
  padding: 5px 0;
}

.full-index__category-list-link {
  @extend .label-text;
  color: $ll-peach;
}