//////////////////
//  Full index  //
//////////////////

.full-index__wrapper {
  @extend .row;
  padding: 20px 0;
  text-align: center;
}

.full-index__category {
  @extend .col;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  text-align: center;
}

.full-index__category-title {}

.full-index__category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-index__category-list-item {
  padding: 5px 0;
}

.full-index__category-list-link {
  font-size: smaller;
}