//////////////////
//  Full index  //
//////////////////

.full-index__wrapper {
  @extend .row;
  @include roundBorders($spacer-sm);
  text-align: center;
  justify-content: center;
  background-color: rgba($sm-dark, 0.3);
  backdrop-filter: blur(15px);
}

.full-index__category {
  @extend .col;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 300px;
  padding-top: $spacer-lg;
  padding-bottom: $spacer-lg;
}

.full-index__category-title {
  @extend .title-sm;
  color: $sm-yellow;
  margin-bottom: $spacer-xs;
}

.full-index__category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-index__category-list-item {
  padding: 5px 0;
}

.full-index__category-list-link {
  @extend .label-text;
  color: $sm-light;
}