//////////////////////
//  Guest of honor  //
//////////////////////

.goh__wrapper {
  @extend .container-fluid, .text-light;
  // background-color: $mm-aqua;
  background: linear-gradient(to bottom, $mm-purple-light, $mm-purple);
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  // border-top: 12px solid $mm-aqua;
}

.goh__wrapper:before {
  display: block;
  content: '';
  background-image: url('/assets/images/ui/paws_decoration_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 140px;
  height: 600px;
  @include centerThis('left');
}

.goh__wrapper:after {
  display: block;
  content: '';
  background-image: url('/assets/images/ui/paws_decoration_right.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 140px;
  height: 600px;
  @include centerThis('right');
}

.goh {
  @extend .text-center;
}

.goh__header {
  @extend .jumbotron-fluid;
}

.goh__header-line-1 {
  @extend .display-4;
}

.goh__header-line-2 {
  @extend .lead;
}

.goh__body {
  @extend .row;
  max-width: 600px;
  margin: auto;
}

.goh__guest {
  @extend .col-md-6;
}

.goh__guest-picture {
  max-width: 80%;
  height: auto;
}