/////////////////////
//  Header styles  //
/////////////////////

.header__wrapper {
  @extend .position-sticky, .sticky-top;
}

.header {
  @extend .container-fluid;
}

.header__brand-row {
  @extend .row;
  background-color: theme-color('secondary');
  background-image: url("/assets/ui/adorno_DiaDeMuertos.png"), radial-gradient(circle, $dm-dark, transparent), url("/assets/ui/fondo_DiaDeMuertos.png"), linear-gradient(to right, $dm-night, $dm-dark 70%, $dm-night);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain, cover, cover, cover;
  height: 180px;
  transition: transform 0.3s;
}

.header__navigation-row {
  @extend .row;
  min-height: 50px;
  background: linear-gradient(to bottom, $dm-yellow, $dm-orange);
  transition: transform 0.3s;
}

.header__brand-logo-col {
  @extend .col-6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__brand-edition-col {
  @extend .col-6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header.is-shrinked {
  .header__brand-row,
  .header__navigation-row {
    transform: translateY(-180px);

    .navigation__home,
    .navigation__featured-links {
      transform: translateX(0);
    }
  }
}

.header.is-locked {
  .header__brand-row,
  .header__navigation-row {
    transform: none !important;

    .navigation__home,
    .navigation__featured-links {
      transform: translateX(-$spacer-lg) !important;
    }
  }
}

// Site logo
.site-logo {
  margin-left: $spacer-sm;
}

.site-logo__link {}

.site-logo__image {
  width: auto;
  height: 80px;
}


// Edition info
.edition-info {
  @extend .text-light;
  text-align: right;
  margin-right: $spacer-sm;

  span {
    text-shadow: 0 1px 3px $dm-night;
  }
}

.edition-info__place {
  @extend .tag-text;
}

.edition-info__month-year {
  @extend .featured-text-sm;
}

.edition-info__days {
  @extend .label-text;
}


// Responsive
// @include media-breakpoint-up(lg) {
//   .header__brand-row {
//     background-size: 100% 250px;
//   }
// }

// @include media-breakpoint-up(xl) {
//   .header__brand-row {
//     background-size: 100% 400px;
//   }
// }

@include media-breakpoint-down(md) {
  .header.is-shrinked {
    .header__brand-row,
    .header__navigation-row {
      transform: translateY(-160px);
    }
  }

  .header__brand-row {
    height: 160px;
  }

  .site-logo__image {
    height: 70px;
  }
}

@include media-breakpoint-down(sm) {
  .header.is-shrinked {
    .header__brand-row,
    .header__navigation-row {
      transform: translateY(-120px);
    }
  }

  .header__brand-row {
    height: 120px;
  }

  .site-logo__image {
    height: 60px;
  }
}