///////////////////////
//  Home cta styles  //
///////////////////////


.home-cta__wrapper {
  background-color: $dm-bone;
  background: linear-gradient(to bottom, $dm-light, $dm-bone);
  position: relative;
  border-top: $spacer-xs + $spacer-xxs solid $dm-blue;
  border-bottom: $spacer-xs + $spacer-xxs solid $dm-pink;

  &:before,
  &:after {
    content: "";
    display: solid;
    position: absolute;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: repeat-x;
  }

  &:before {
    top: 0;
    background-image: url("/assets/ui/separador_picado_azul.png");
  }

  &:after {
    background-image: url("/assets/ui/separador_picado_invertido_rosa.png");
    bottom: 0;
  }
}

.home-cta {
  @extend .container;
  padding-top: $spacer-xxl - $spacer-md;
  padding-bottom: $spacer-xxl;
}

.home-cta__items-wrapper {
  @extend .row;
}

.home-cta__item {
  @extend .col-md-4;
  text-align: center;
}

.home-cta__header {
  margin-bottom: $spacer-md;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-cta__title {
  @extend .title-sm;
  color: $dm-brown;
  margin: unset;
}

.home-cta__body {
  padding: 0 $spacer-sm;
  color: $dm-night;
  min-height: 120px;
}

.home-cta__footer {
  margin-top: $spacer-sm;
}

.home-cta__button {
  @extend .cta-button-small;
}

@include media-breakpoint-down(md) {
  .home-cta__body {
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  .home-cta {
    padding-top: $spacer-lg;
    padding-bottom: $spacer-lg;
  }

  .home-cta__item {
    margin-bottom: $spacer-lg;

    &:last-child {
      margin-bottom: unset;
    }
  }

  .home-cta__header {
    margin-bottom: $spacer-md;
    min-height: unset;
  }

  .home-cta__body {
    padding: 0 $spacer-lg;
    min-height: unset;
  }

  .home-cta__footer {
    margin-top: $spacer-md;
  }
}