///////////////////////
//  Home cta styles  //
///////////////////////


.home-cta__wrapper {
  background-color: $sm-tint;
  border-top: solid $spacer-xs $sm-red;
  border-bottom: solid $spacer-xs $sm-red;
  position: relative;
}

.home-cta {
  @extend .container;
  padding-top: $spacer-xxl;
  padding-bottom: $spacer-xxl;
}

.home-cta__items-wrapper {
  @extend .row;
}

.home-cta__item {
  @extend .col-md-4;
  text-align: center;
}

.home-cta__item-card {
  @include roundBorders($spacer-sm);
  background: linear-gradient(to bottom, $sm-light, $sm-green);
  padding: $spacer-xxs;
  padding-bottom: $spacer-sm;
}

.home-cta__header {
  @include roundBorders($spacer-sm);
  margin-bottom: $spacer-md;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sm-purple;
}

.home-cta__title {
  @extend .title-sm;
  color: $sm-light;
  margin: unset;
}

.home-cta__body {
  padding: 0 $spacer-sm + $spacer-xs;
  color: $sm-tint;
  min-height: 120px;
}

.home-cta__footer {
  margin-top: $spacer-sm;
}

.home-cta__button {
  @extend .cta-button-small;
}

@include media-breakpoint-down(md) {
  .home-cta__body {
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  .home-cta {
    padding-top: $spacer-lg;
    padding-bottom: $spacer-lg;
  }

  .home-cta__item {
    margin-bottom: $spacer-lg;

    &:last-child {
      margin-bottom: unset;
    }
  }

  .home-cta__header {
    margin-bottom: $spacer-md;
    min-height: unset;
  }

  .home-cta__body {
    padding: 0 $spacer-lg;
    min-height: unset;
  }

  .home-cta__footer {
    margin-top: $spacer-md;
  }
}