//////////////////////////////////
//  Home virtual worlds styles  //
//////////////////////////////////

.homepage-virtual-worlds__wrapper {
  background-color: $dm-dark;
  padding-top: $spacer-lg;
  padding-bottom: $spacer-xl;
}

.homepage-virtual-worlds__header {
  display: flex;
  justify-content: center;
  padding-bottom: $spacer-md;
}

.homepage-virtual-worlds__cta {
  @extend .title-md;
  width: max-content;
  color: $dm-light;
  padding: $spacer-xs $spacer-sm;
  text-align: center;
}

.homepage-virtual-worlds {
  @extend .container;
}

.homepage-virtual-worlds__worlds {
  @extend .row;
}

.homepage-virtual-worlds__world {
  @extend .col-md-4;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .homepage-virtual-worlds__world-link {}

.homepage-virtual-worlds__world-image {
  @extend .img-fluid;
  max-height: 240px;
}