///////////////////////
//  Home cta styles  //
///////////////////////

.home-featurete__wrapper {
  // background-color: $sm-dark;
  // background: linear-gradient(to bottom, $sm-red, $sm-dark);
  background-color: theme-color('primary');
  background-image: url("/assets/ui/smoke_texture.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-featurete {
  @extend .container;
  position: relative;
}

.home-featurete__image {
  img {
    @extend .img-fluid;
  }
}

.home-featurete__mascot {
  @extend .do-diagonal-oscilation;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 60%;
  right: 10%;

  img {
    width: 100%;
  }
}

.home-featurete__cta {
  position: absolute;
  @include centerThis("bottom");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;

  a {
    @extend .cta-button-container__button;
    color: $sm-light;
    background-color: $sm-purple;
    border: 4px solid $sm-light;
    padding-left: $spacer-md;
    padding-right: $spacer-md;
  }
}

@include media-breakpoint-down(sm) {
  .home-featurete {
    max-width: unset;
    padding: 0;
  }
}

@include media-breakpoint-down(xs) {
  .home-featurete__cta {
    position: unset;
    height: auto;
    padding-top: $spacer-sm;
    padding-bottom: $spacer-sm;
    background-color: $sm-purple;
  }
}