///////////////////////
//  Language switch  //
///////////////////////

// .language-switch {}

.language-switch__button {
  @extend .nav-link, .tag-text;
  padding: 0;
  text-align: center;
  color: theme-color('light');
  cursor: pointer;
}

.language-switch__label {
  padding: 0 $spacer-xxs;
  font-weight: 800;
}

.language-switch__float {
  @extend .position-absolute, .flex-column;
  top: 100%;
  right: 0;
  z-index: 11;
}

.language-switch__list {
  @extend .nav;
  overflow: hidden;
  border: 1px solid rgba($ll-cream, 0.2);
  border-top-color: $ll-cream;
  border-right: 0;
  background: linear-gradient(to bottom, $ll-blue, $ll-purple);
  padding: $spacer-sm * 2;
}

.language-switch__list-item {
  @extend .nav-item;
  width: 100%;
}

.language-switch__list-link {
  @extend .text-info, .text-light;
  display: block;
  padding: 0 20px;
  line-height: 30px;
  border: 1px solid transparent;
}

.language-switch__list-link.is-active {
  @extend .active;
  border-color: theme-color('light');
  opacity: 0.8;
  cursor: default;

  &:hover {
    color: theme-color('light');
    text-decoration: none;
  }
}