///////////////////////
//  Language switch  //
///////////////////////

.language-switch {
  @extend .position-relative;
  @extend .rounded;
  background-color: $hg-blue;
}

.language-switch__button {
  @extend .nav-link;
  @extend .text-light;
  padding-left: 8px;
  padding-right: 8px;
  font-size: small;
  text-align: center;
}

.language-switch__list {
  @extend .position-absolute;
  @extend .nav;
  @extend .flex-column;
  @extend .bg-secondary;
  @extend .border;
  @extend .rounded;
  right: 0;
  color: $hg-ink;
  border-color: $hg-paper-shadow!important;
  overflow: hidden;
  @include addShadow('drop');
}

.language-switch__list-item {
  @extend .nav-item;
}

.language-switch__list-link {
  display: block;
  padding: 0 20px;
  line-height: 30px;
}

.language-switch__list-link.is-active {
  @extend .active;
  color: $hg-paper;
  background-color: $hg-paper-shadow;
}

@include media-breakpoint-down(md) {
  .language-switch {
    background-color: transparent;
  }
}