///////////////////
//  Menu Slides  //
///////////////////

.menu-slides__wrapper {}

.menu-slides__slide {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  padding-top: 250px;
  pointer-events: none;
  transition: transform 0.3s;
  transform: translateX(110%);
}

.menu-slides__slide-content:after,
.menu-slides__slide-cover {
  content: '';
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: -1;
  background: linear-gradient(to left, $dark, $black);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.menu-slides__slide.is-open {
  transform: translateX(0%);
}

.menu-slides__slide.is-open {
  .menu-slides__slide-content:after,
  .menu-slides__slide-cover {
    opacity: 0.9;
  }
}

.menu-slides__slide-content {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background: $ll-brown;
  padding: $spacer-md;
  padding-top: $spacer-lg;
  position: relative;
}

.slide-content__return-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}

.slide-content__return-link {
  font-size: 1.4em;
  line-height: 30px;
  color: $ll-peach;
  opacity: 0.8;

  &:hover {
    color: $ll-peach;
    opacity: 1;
  }
}

.slide-content__content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.slide-content__category-title {
  display: none;
}

.slide-content__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slide-content__list-item {
  padding: 5px 0;
}

.slide-content__list-link {
  @extend .featured-text-sm;
  color: $ll-cream;
  transition: color 0.2s;

  &:hover {
    color: $ll-yellow;
    text-decoration: none;
  }
}

.navigation-mobile-featured-menu__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: $spacer-md;
}

.navigation-mobile-featured-menu__link {
  @extend .featured-text-sm;
  color: $ll-peach;
}

.menu-slides__slide--main {
  .menu-slides__slide-content {
    background: linear-gradient(to bottom, $ll-purple, $ll-blue);
  }
}