///////////////////
//  Menu Slides  //
///////////////////

.menu-slides__wrapper {}

.menu-slides__slide {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  padding-top: 86px;
  pointer-events: none;
  transition: transform 0.3s;
  transform: translate(110%, 0);
}

.menu-slides__slide:after,
.menu-slides__slide-cover {
  display: block;
  content: '';
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 86px;
  left: -100vw;
  z-index: -1;
  background: linear-gradient(to left, $cf-dark, $black);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.menu-slides__slide.is-open {
  transform: translate(0%, 0);
}

.menu-slides__slide.is-open:after,
.menu-slides__slide.is-open .menu-slides__slide-cover {
  opacity: 0.9;
}

.menu-slides__slide-content {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background: $mm-blue-light;
  padding: 20px;
  padding-top: 50px;
  position: relative;
  border-left: 1px solid rgba($cf-dark, 0.3);
  @include addShadow('drop');
}

.slide-content__return-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}

.slide-content__return-link {
  font-size: 1.4em;
  line-height: 30px;
  color: $cf-dark;
}

.slide-content__content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.slide-content__category-title {
  display: none;
}

.slide-content__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slide-content__list-item {
  padding: 5px 0;
}

.slide-content__list-link {
  color: $cf-light;
  transition: color 0.2s;
}

.slide-content__list-link:hover {
  color: $mm-blue;
}

.slide-content__list-link:hover {
  color: $cf-red;
  text-decoration: none;
}

.navigation-mobile-featured-menu__list {
  list-style-type: none;
  margin: 10px 0;
  padding: 20px 0;
}

.navigation-mobile-featured-menu__link {
  color: $cf-gray !important;
  text-decoration: none !important;
  font-family: 'Archivo Black', arial !important;
  font-size: 1.2em;
}

.menu-slides__slide--main {
  .menu-slides__slide-content {
    background: linear-gradient(to bottom, $mm-purple-light, $mm-purple);
    // background: $cf-red;
  }

  .slide-content__return-link {
    color: $cf-light;
  }

  .slide-content__list-link {
    font-family: 'Archivo Black', arial !important;
    font-size: 1.4em;
  }

  .slide-content__list-link {
    color: $cf-light !important;
  }
}

@include media-breakpoint-down(md) {
  .menu-slides__slide {
    padding-top: 116px;
  }

  .slide-content__category-title {
    display: block;
  }
}