//////////////////////
//  Navigation bar  //
//////////////////////

.navigation {
  @extend .navbar;
  @extend .row;
  @extend .no-gutters;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .bg-primary;
  background: linear-gradient(to bottom, $hg-blue, $hg-blue-shadow);
}

.navigation__logo {
  @extend .col;
}

.navigation__logo-link {
  @extend .navbar-brand;
  @extend .text-secondary;
}

.navigation__menu {
  @extend .col-auto;
  padding: 0;
}

.navigation__menu-button {
  @extend .navbar-toggler;
  @extend .bg-primary;
  @extend .text-secondary;
  @extend .border-0;
}

.navigation__menu-list {
  @extend .navbar-nav;
  @extend .mr-auto;
}

.navigation__menu-item {
  @extend .nav-item;
}

.navigation__menu-link {
  @extend .nav-link;
}

.navigation__lang {}
  
.navigation__separator {
  display: block;
  height: 10px;
  border: 0;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, $hg-golden-light, $hg-golden-shadow);
}