//////////////////////
//  Navigation bar  //
//////////////////////

.navigation {
  @extend .navbar, .row, .no-gutters, .navbar-expand-lg, .navbar-dark, .bg-primary;
  background: linear-gradient(to bottom, $mm-blue, $mm-purple);
}

.navigation__logo {
  @extend .col;
}

.navigation__logo-link {
  @extend .navbar-brand, .text-secondary;
}

.navigation__logo-image {
  height: 50px;
}

.navigation__menu {
  @extend .col-auto;
  padding: 0;
}

.navigation__lang {
  @extend .col-auto;
}

.navigation__mobile-menu-button {
  @extend .col-auto;
  display: none;
}

.navigation__menu-button {
  @extend .bg-primary, .border-0, .rounded;
  color: $mm-blue;
  background-color: $mm-aqua-light !important;
}

.navigation__menu-button:hover {
  background-color: $mm-aqua !important;
}

.navigation__menu-list {
  @extend .navbar-nav, .mr-auto;
}

.navigation__menu-item {
  @extend .nav-item;
}

.navigation__menu-link {
  @extend .nav-link;
  position: relative;
  font-family: 'Archivo Black', arial !important;
  font-size: 0.9em;
  text-transform: uppercase;
  color: $cf-light !important;
  // opacity: 0.9;
  // transition: opacity 0.2s;
}

.navigation__menu-link--featured {
  color: $cf-red-light !important;
}

.navigation__menu-link:before {
  content: '';
  display: block;
  width: 90%;
  border-bottom: 4px solid $mm-blue-light;
  @include centerThis(top);
  transform: translate(0, -20px);
  opacity: 0;
  transition: opacity 0.4s, transform 0.3s;
}

.navigation__menu-item.is-selected .navigation__menu-link,
// .navigation__menu-link:hover {
//   opacity: 1;
// }

.navigation__menu-item.is-selected .navigation__menu-link:before,
.navigation__menu-link:hover:before {
  transform: translate(0, 0px);
  opacity: 1;
}

.navigation__menu-link--featured:before {
  display: none;
}
  
.navigation__separator {
  display: block;
  height: 10px;
  border: 0;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, $mm-yellow-light, $mm-aqua);
}

@include media-breakpoint-down(md) {
  .navigation__mobile-menu-button {
    display: block;
  }

  .navigation__menu {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .navigation__lang,
  .navigation__mobile-menu-button {
    padding: 0;
  }
}