////////////////////
//  Registration  //
////////////////////

.registration__form-button {
  padding: $spacer-sm $spacer-md;
  background-color: $sm-red;
  font-size: $text-size-05;
}

.day-pass-costs {
  display: flex;
}

.day-pass-costs__item {
  border: 2px solid $sm-gray;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  margin: 5px;
}

.day-pass-costs__label {
  padding: 12px;
  background-color: $sm-gray;
  color: $sm-light;
}

.day-pass-costs__fare {
  padding: 12px;
}