/////////////////////////////
//  Covid-19 alert styles  //
/////////////////////////////

.register-cta__wrapper {
  background-color: $sm-purple;
  color: $sm-light;
  padding-top: $spacer-lg;
  padding-bottom: $spacer-lg;
}

.register-cta {
  @extend .container;
}

.register-cta__row {
  @extend .row;
}

.register-cta__main-col {
  @extend .col-lg-3, .col-sm-12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-cta__body-col {
  @extend .col-lg-6, .col-sm-8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-cta__cta-col {
  @extend .col-lg-3, .col-sm-4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-cta__alert {
  @extend .featured-text-sm;
}

.register-cta__body {
  @extend .body-text-xs;

  a {
    color: $sm-dark;
  }

  a:hover {
    color: $sm-red;
  }
}

.register-cta__cta {
  @extend .cta-button-small;
  white-space: unset;
}

@include media-breakpoint-down(md) {
  .register-cta__alert {
    margin-bottom: $spacer-sm;
  }
}

@include media-breakpoint-down(xs) {
  .register-cta__body {
    margin-bottom: $spacer-sm;
    padding-left: $spacer-sm;
    padding-right: $spacer-sm;
  }
}