//////////////////////////
//  Social Network Bar  //
//////////////////////////

.social-network-bar {
  @extend .container;
  padding: 0;
  text-align: left;
}

.social-network-bar__item {
  display: inline-block;
  margin: $spacer-sm;
  margin-left: 0;
}

.social-network-bar__link {
  color: $sm-red;
  font-size: $text-size-04;
}