<!DOCTYPE html>
<html lang="es">
<head>
  {%- include head.html -%}
</head>
<body>
    {%- include layout/header.html -%}

    <main class="content" aria-label="Content">
      <div class="content__wrapper">
        {%- if page.banner_src -%}
          {%- assign banner_src = page.banner_src -%}
          {%- assign banner_alt = page.banner_alt -%}
          {%- include components/banner.html -%}
        {%- endif -%}

        {{ content }}
      </div>
    </main>
    
    {% include components/covid-alert.html %}

    {% include components/support-strip.html %}
    
    {%- include components/footer.html -%}

    {%- include bottom.html -%}
</body>
</html>