---
layout: default
---

{%- assign document_list = site.pages | where: "list_id", page.list_id | where: "lang", page.lang | sort: "list_weight" -%}

<article class="document-index">
  <div class="document-index__wrapper">
    <div class="document-index__column">
      <ul class="document-index__list">
        {%- for document in document_list -%}
        <li class="document-index__item">
          <a class="document-index__link {% if document.id == page.id %}is-active{% endif %}" href="{{ document.url }}">{{ document.label }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="document-index__content">
      <header class="document-index__header">
        {%- if page.title -%}
        <div class="document-index__title">
          <h1>{{ page.title | escape }}</h1>
        </div>
        {%- endif -%}
        {%- if page.description -%}
        <div class="document-index__description">
          <span>{{ page.description | escape }}</span>
        </div>
        {%- endif -%}
      </header>

      {%- if page.alert_message -%}
      <div class="document-index__alerts">
        {%-
          include components/alert.html
          mode=page.alert_mode
          heading=page.alert_heading
          message=page.alert_message
        -%}
      </div>
      {%- endif -%}

      <div class="document-index__body">
        {{ content }}
      </div>
    </div>
  </div>
</article>