---
layout: default
---

<!-- {%- include components/greeting.html -%} -->

<div class="home">
  <div class="home__wrapper">
    {%- if page.alert_message -%}
    <div class="page__alerts">
      {%-
        include components/alert.html
        mode=page.alert_mode
        heading=page.alert_heading
        message=page.alert_message
      -%}
    </div>
    {%- endif -%}

    <div class="home__teaser">
      <div class="home__teaser-video">
        <iframe src="https://www.youtube.com/embed/6zadyz2wGXA" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    {{ content }}

    <!--
    {# include components/guest-of-honor.html #}
    
    {# include components/home-cta.html #}

    {# include components/featured-artists.html #}

    {# include components/featured-videos.html #}
    -->
  </div>
</div>