//////////////////////
//  Document Index  //
//////////////////////

.document-index {
  @extend .container;
}

.document-index__wrapper {
  @extend .row;
  flex-direction: row-reverse;
  padding-top: $spacer-xl;
  padding-bottom: $spacer-xxl;
}

.document-index__column {
  @extend .col-lg-3;
}

.document-index__list {
  @extend .nav, .flex-column;
  margin-top: $spacer-md;
  margin-bottom: $spacer-md;
}

.document-index__item {
  @extend .nav-item;
}

.document-index__link {
  @extend .nav-link;
}

.document-index__link.is-active {
  @extend .active, .rounded, .text-light;
  background-color: $dm-night;
}

.document-index__content {
  @extend .col-lg-9, .wrapper-responsive-padding--sm;

  .container-overflow {
    @extend .wrapper-responsive-overflow-margin--sm;
    margin-bottom: $spacer-md;
  }
}

.document-index__header {
  margin-bottom: $spacer-xl;
}

.document-index__title {
  &, * {
    @extend .title-lg;
    color: $dm-night;
    margin: 0;
    line-height: initial;
  }
}

.document-index__description {
  &, * {
    @extend .title-sm;
    color: $dm-orange;
    margin: 0;
    line-height: initial;
  }
}

.document-index__body {
  @extend .cfr-text-formatted;
}