//////////////////////
//  Document Index  //
//////////////////////

.document-index {
  @extend .mx-auto;
  max-width: 1024px;
}

.document-index__wrapper {
  @extend .container-fluid, .row, .no-gutters;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.document-index__column {
  @extend .col-md-3;
}

.document-index__list {
  @extend .nav, .flex-column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.document-index__item {
  @extend .nav-item;
}

.document-index__link {
  @extend .nav-link;
  color: $mm-blue-light;
}

// .document-index__link:visited {
//   color: $hg-paper-shadow;
// }

.document-index__link.is-active {
  @extend .active, .rounded, .text-light;
  background-color: $mm-purple;
}

.document-index__content {
  @extend .col-md-9;
}

.document-index__header {
  @extend .jumbotron;
  background-color: $cf-light;
  color: $mm-aqua;
}
.document-index__header {
  hr {
    border-color: $mm-blue;
  }
}

.document-index__title {
  color: $mm-red;
}

.document-index__description {
  margin: 0;
  letter-spacing: 0.06em;
  font-size: 1.2em;
}

.document-index__body {
  @extend .text-justify, .cfr-text-formatted, .body-text;
  // font-family: 'American Typewriter', 'Times', sans-serif;

  li {
    // line-height: 1.6em;
    letter-spacing: 0.04em;
    padding-bottom: 1em;
    padding-left: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif !important;
    color: $mm-red-light;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h4, h5, h6 {
    color: $mm-aqua-light;
  }
}