///////////////////
//  Main layout  //
///////////////////

body {
  background-color: $cf-light;
  color: $cf-dark;
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', arial !important;
}

p {
  // font-family: 'American typewriter', serif !important;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}

.alert p {
  margin: 0;
}

blockquote {
  margin-left: 3em;
  padding-left: 1em;
  border-left: 10px solid $cf-gray;
}

.header {
  @extend .position-sticky;
  @extend .sticky-top;
  @include addShadow('drop');
  // @extend .position-fixed;
  // @extend .fixed-top;
}