///////////////////
//  Page layout  //
///////////////////

.page {
  @extend .container;
}

.page__wrapper {
  @extend .wrapper-responsive-padding;
  padding-top: $spacer-xl;
  padding-bottom: $spacer-xxl;

  .container-overflow {
    @extend .wrapper-responsive-overflow-margin;
    margin-bottom: $spacer-md;
  }
}

.page__header {
  margin-bottom: $spacer-xl;
}

.page__title {
  &, * {
    @extend .title-lg;
    color: $dm-night;
  }
}

.page__description {
  &, * {
    @extend .title-sm;
    color: $dm-orange;
  }
}

.page__content {
  @extend .cfr-text-formatted;
}