///////////////////
//  Page layout  //
///////////////////

.page {
  @extend .mx-auto;
  max-width: 1024px;
}

.page__wrapper {
  @extend .container-fluid;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page__content {
  @extend .cfr-text-formatted-base;
  
  a {
    text-decoration: underline;
  }

  li {
    line-height: 1.6em;
    letter-spacing: 0.04em;
    padding-left: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $mm-aqua;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}